.foot{
  position: relative;
  left: 0px;
  bottom: -10px;
  width: 100%;
  height: 100px;
  background-color: #3331af; /* Azul oscuro */
  color: #fff; /* Blanco */
  text-align: center;
  margin: -40px;
  padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

li {
    margin-right: 20px;
  }