
.contein{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.boton{
 background-color: #ebecf5;
position: relative;
text-align: center;

}

.userProfile {
  display: flex; /* Organiza la foto y el nombre en una fila */
  flex-direction: column;
  position: fixed;
  right: 0;
  color: rgb(218, 210, 196);
}

.userPhoto {
  width: 50px; /* Ancho de la foto */
  height: 50px; /* Alto de la foto */
  /* Hace que la foto sea circular */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
  position: relative;
  color: #dad3bf;
  left: 60px;
}

.userName {
  font-size: 14px; /* Tamaño de la fuente para el nombre */
  font-weight: bold; /* Hace que el nombre sea negrita */
  color: #f5f2ee; /* Color del texto */
  position: relative;
  text-align: center;
}

.turnes{
  background:3331AF;;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
top:85px;
padding: 20px;
flex-grow: 1;
min-height: 100vh;
gap: 25px;
min-width: 100vh;
margin: 10px;
}

.turn{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  right: 200px;
}
.titulo{
 position: relative;
top: 40px;
}