
/* Record Styles */
.record{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    color:black;
text-align: center;
}
.container {

    max-width: 800px;
    padding: 3px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 750px;
    display: flex;
    justify-content:space-around;
    position: relative;
    align-items: center;
    height: 50px;
  }

  .btn{
    background-color: rgb(255, 255, 255);
    border-color:rgb(44, 41, 36) ;
    border-radius: 7px;
    line-height:15px;
    text-align: center;
  }